body {
   background-color: aqua; 
}

#game {
   border: 1px solid blue;
   height: fit-content;
   display:none;
   width: fit-content;
   padding: 2rem;
}

#guessContainer {
   letter-spacing: 1rem;
}

#timeRemaining {
   display: none;
}